<!DOCTYPE html>
<html lang="hr" ng-app="bezPara">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BezPara" />
    <meta name="author" content="Mieszko4 i Miroslav" />

    <title>BezPara</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />

    <!-- Add custom CSS here -->
    <link href="css/bez-para.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  </head>

  <body style="background:#000">
    <div class="bez-para-logo">
        <button type="button" class="btn btn-default btn-lg">
            <a href="/"><i class="fa fa-gift"></i></a>
        </button>
        <button type="button" class="btn btn-default btn-lg">
            <a target="_blank" href="http://twitter.com/bez_para"><i class="fa fa-twitter"></i></a>
        </button>
    </div>
    
    <!-- Menu -->
    <nav class="bez-para-menu" ng-controller="MenuCtrl">
        <button ng-show="!BezPara.loggedIn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-popup">Prijavi se s Twitterom</button>
        <!-- TODO: implement sign in, on first sign in choose tags -->
        <button ng-click="logoutMe()" ng-show="BezPara.loggedIn" class="btn btn-primary btn-lg">Odjavi se</button>
    </nav>
    <!-- /Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text" ng-controller="GiftCtrl">
        <div class="bez-para-container">
            <h1 class="bez-para-header">Imam</h1>
            <form name="pokloni">
                <div class="input-group input-group-lg bez-para-poklon">
                  <input ng-model="gift" type="text" class="form-control" placeholder="Što?" name="what" />
                </div>
                <fieldset name="options">
                    <!-- TODO: add description, image -->
                </fieldset>
                <button ng-click="addGift()" class="btn btn-primary btn-lg" type="button">Pokloni!</button>
            </form>
            <!--TODO: add how many are giveted
                <p>Već <em>100</em> stvari poklonjeno!</p>
            -->
            <a href="#lista-poklona" scroll-on-click class="btn btn-default btn-lg bez-para-more"><i class="fa fa-arrow-down"></i></a>
          </div>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Call to Action -->
    <div id="lista-poklona" class="call-to-action">
      <div class="container" ng-controller="GiftListCtrl">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Lista poklona</h1>
            
            <ul class="nav nav-tabs bez-para-filter">
                <li ng-show="BezPara.loggedIn" ng-class="{active: type=='interested'}">
                    <a href="" ng-click="filterGifts('interested')">Interesantni pokloni</a>
                </li>
                <li ng-class="{active: type=='all'}">
                    <a href="" ng-click="filterGifts('all')">Svi pokloni</a>
                </li>
                <li ng-show="BezPara.loggedIn" ng-class="{active: type=='my'}">
                    <a href="" ng-click="filterGifts('my')">Moji pokloni</a>
                </li>
            </ul>
            
            <!-- TODO: details form with description and picture -->
            <ul class="list-group bez-para-pokloni">
                <li class="list-group-item" ng-repeat="gift in gifts">
                    <span ng-show="BezPara.username != gift.username" class="badge"><a target="_blank" href="http://twitter.com/{{gift.username | encodeURIComponent}}" ng-click="contact(gift.username)">kontakiraj</a></span>
                    <span ng-show="BezPara.username == gift.username" class="badge"><a href="" ng-click="remove(gift)">pobriši</a></span>
                    <span>{{gift.name}}</span> od <em>{{gift.username}}</em> <span>{{gift.time_ago | humanTime}}</span>
                </li>
            </ul>
            <!-- TODO: virtual scroll -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->
    
    <!-- Modal -->
    <div class="modal fade" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" ng-controller="LoginCtrl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Prijava</h4>
          </div>
          <div class="modal-body">
            <form name="login">
                <input ng-model="username" type="text" class="form-control" placeholder="Korisničko ime" name="username" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loginMe()">Prijavi se</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>